<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <web-header></web-header>
        <web-list label_name="null"></web-list>
        <web-content content_id="1"></web-content>
    </div>
    <script type="text/javascript">


        json = null
//         axios.post("").then(response => (json = response.data))



        var json = {
            username: "zhfanrui",
            token: "cba207cb26e95ab4f99d2280327962d76d052510",
            repo: "gitforum",
            title: 'Forum Name',
            pages: [
            {name: "Home", link: "/"},
            {name: "About", link: "/about.html"},
            ]
        }

        const instance = axios.create({
            baseURL: 'https://api.github.com/graphql',
            headers: {'Authorization': 'bearer ' + json.token}
        });

        Vue.component('web-header', {
            data() {return json},
            template: '<div class="header"><h1>{{ title }}</h1><ul><li v-for="item in pages"><a v-bind:href="item.link">{{ item.name }}</a></li></ul></div>'
        })
        Vue.component('web-list', {
            data() {return { edges: null }},
            props: ["label_name"], //label
            template: '<div class="list"><ul><li v-for="edge in edges"><a v-bind:href="\'./content.html?number=\' + edge.node.number">{{ edge.node.title }}</a></li></ul></div>',
            mounted(){
                instance.post('', {query: "query{repository(owner:\"" + json.username + "\",name:\"" + json.repo + "\"){issues(last:20, labels:" + this.label_name + "){edges{node{title number body labels(first:5){edges{node{name}}}}}}}}" })
                .then(response => (this.edges = response.data.data.repository.issues.edges))
            }
        })
        Vue.component('web-content', {
            data() {return {text: null}},
            props: ["content_id"],
            template: '<div class="content" v-html="text"></div>',
            mounted(){
                instance.post('', {query: "query{repository(owner:\"" + json.username + "\",name:\"" + json.repo + "\"){issue(number:" + this.content_id + "){body}}}" })
                .then(response => {
                    axios.post('https://api.github.com/markdown', {text: response.data.data.repository.issue.body, mode: "gfm", context: "github/gollum" }).then(response2 => {this.text = response2.data;})
                })
            }
        })



        var app = new Vue({
            el: '#app',
        })

    </script>
</body>
</html>
